---
pageable: true
per_page: 8
---

<% page_articles.each_with_index do |article, i| %>

  <div class="article-date"><%= article.date.strftime('%B %d, %Y') %></div
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <h2><%= link_to article.title, article %></h2>
  <%= article.summary %>
  <p class="read-more"><%= link_to 'read more...', article %></p>
    <hr />
<% end %>

<% if paginate %>
  <% if next_page %>
    <h2 class="next-page"><%= link_to 'Next Page &raquo;', next_page %></h2>
  <% end %>
  <% if prev_page %>
    <h2 class="next-page"><%= link_to '&laquo; Previous Page', prev_page %></h2>
  <% end %>
<% end %>
